#may {
    height: 250px;
    width: 100%;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.x {
    background-color: rgb(196, 219, 227);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}

.container {
    text-align: center;
    margin-right: 550px;
    margin-left: 537px;
    margin-bottom: 20px;
    margin-top: 13px;
    border: 2px solid rgb(196, 219, 227);
    height: 300px;
    background-color: rgb(196, 219, 227);
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#l {
    margin-top: -14px;
    font-size: 39px;
    font-family: cursive;
}

#button {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.input {
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.space {
    margin-top: 5px;
    margin-bottom: 5px;
}

#o {
    text-align: center;
    color: red;
    font-size: medium;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
    width: 580px;
    height: 550px;
    background-color: #e5f6ed;
    margin-left: 400px;
    margin-top: -2px;
    border-radius: 15px;
    border: 3px solid #e5f6ed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sa {
    margin-top: 30px;
}

.but {
    width: 153px;
    background-color: cadetblue;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.center>form>input {
    display: block;
    margin-left: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #e5f6ed;
    margin: auto;
}

textarea {
    background-color: #e5f6ed;
}

.center>form {
    padding-top: 80px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #614dd5;
    color: white;
}

#k {
    width: 200px;
}

#kk {
    width: 950px;
}

#customers button {
    color: white;
    background-color: #614dd5;
    text-align: right;
    border: 2px solid #614dd5;
    height: 30px;
    width: 80px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.tb {
    width: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: 600px 600px;
    height: 500px;
}

.grid-item {
    border: 1px solid rgba(245, 236, 236, 0.8);
    font-size: 15px;
    text-align: -webkit-center;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 30px;
}

.c {
    display: grid;
    grid-template-columns: 200px 300px;
    background-color: white;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avatar {
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.may {
    margin-left: 1200px;
    font-weight: 500;
}

.maya {
    margin-left: 1100px;
    font-weight: 500;
}

.may:hover {
    font-size: larger;
    font-weight: 500;
}

.big {
    font-size: 30px;
}